.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.bg-dark-blue {
    background-color: #2e2e2e; /* Dark blue color */
    color: white; /* Ensure text is visible */
    border-radius: 8px;
  }